.patient {
	background: url(../img/drip-patient-pictogram.svg) no-repeat;
	min-width: 18vh;
	min-height: 18vh;
	max-width: 25vh;
	max-height: 25vh;
	background-size: 100% 100%;
	background-position: center;
	border: none;
}

.outer {
	width: 100%;

	
}
.inner {
    margin: 0 auto; 
    min-height: 100%;
    min-width: 100%;
    
    
}

.home {
	background: url(../img/Vista-folder_home.svg.png) no-repeat;
	min-width: 18vh;
	min-height: 18vh;
	max-width: 25vh;
	max-height: 25vh;
	background-size: 100% 100%;
	background-position: center;
	border: none;
}
.home:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.patient:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.archive:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.report:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pharmacy:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.archive {
	background: url(../img/archive-icon-12.png) no-repeat;
	min-width: 18vh;
	min-height: 18vh;
	max-width: 25vh;
	max-height: 25vh;
	background-size: 100% 100%;
	background-position: center;
	border: none;
}

.report {
	
	background: url(../img/task_report_regular.png) no-repeat;
	
	outline: none;
	min-width: 18vh;
	min-height: 18vh;
	max-width: 25vh;
	max-height: 25vh;
	background-size: 100% 100%;
	background-position: center;
	border: none;
}

.pharmacy {
	background: url(../img/Blue-Pharmacy-logo.svg) no-repeat;
	min-width: 18vh;
	min-height: 18vh;
	max-width: 25vh;
	max-height: 25vh;
	background-size: 100% 100%;
	background-position: center;
	border: none;
}

