@CHARSET "UTF-8";

.centertab  td {
	vertical-align: middle !important;
	margin-top: 10px !important;
}

.centertab th {
	text-align: center;
	vertical-align: middle !important;
	margin-top: 10px !important;
}

.add-patient {
	float: left;
	background: url(../img/add-patient.png) no-repeat;
	width: 5vh;
	height: 5vh;
	background-size: 100% 100%;
	margin:5px 5px 5px 5px;	
	background-position: center;
}

.delete-patient {
	float: left;
	background: url(../img/delete-user.png) no-repeat;
	width: 5vh;
	height: 5vh;
	background-size: 100% 100%;
	background-position: center;
	margin:5px 5px 5px 5px;
}

#section-3 {
	padding: 20px;
	margin-left: 5px;
}

.divided-section {
	background: rgba(158, 158, 158, 0.1);
	border-radius: 5px;

}

.text-style {		
	padding: 10px 10px 0px 0px;
	margin-left: 20px;
	color: white !important;
	font-style: italic;
}

.text-style2 {
	display: inline-block;
	padding-left: 20px;
	padding-top: -20px;
	padding-bottom: 10px; 
}
.modify-patient {
	background: url(../img/modify-patient.png) no-repeat;
	width: 3vh;
	height: 3vh;
	min-height: 10px;
	background-size: 100% 100%;
	horizontal-align: middle;
	background-position: center;
}

.back {
	background: url(../img/back.png) no-repeat;
	width: 5vh;
	height: 5vh;

	background-size: 100% 100%;
	margin:5px 5px 5px 5px;	
	background-position: center;
}

.left {
	float: left;
}

.right {
	float: right;
}