/* nanoscrollbar */
.nano .pane   { background: #888; }
.nano .slider { background: #111; }


.container{
   
	width: 300px; 
   
    background-color: transparent;
    border: 0;
}

#header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
}

.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.task-list{
    min-width: 250px;
	float: left;
	
    background-color: #e3e3e3;
    height: 100%;
    border-radius: 10px;
    padding-bottom: 15px;
}

.task-status {
	min-height: 100px;
	
	
}



@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}


.task-priority2 {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	animation-name: spin; 
	animation-duration: 3s; /* 3 seconds */
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
	position: absolute;
	top: -5px;
	right: -5px;
	margin-bottom: -15px;	
}
.task-priority	{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, brown 0%, Crimson 100%, brown 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, brown, Crimson);
	background-image: radial-gradient(45px 45px 45deg, circle cover, brown 0%, Crimson 100%, brown 95%);
	animation-name: spin; 
	animation-duration: 3s; /* 3 seconds */
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
	position: absolute;
	top: -5px;
	right: -5px;
	margin-bottom: -15px;
}

.task-priority3	{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, DodgerBlue 0%, LightSkyBlue 100%, blue 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, DodgerBlue, LightSkyBlue);
	background-image: radial-gradient(45px 45px 45deg, circle cover, DodgerBlue 0%, LightSkyBlue 100%, DodgerBlue 95%);
	animation-name: spin; 
	animation-duration: 3s; /* 3 seconds */
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
	position: absolute;
	top: -5px;
	right: -5px;
	margin-bottom: -15px;
	
}

.task-list input, .task-list textarea{
    width: 240px;
    margin: 1px 5px;
}

.task-list input{
    height: 30px;
}

.todo-task{
    border-radius: 5px;
    background-color: #fff;
    width: 220px;
    margin: 5px;
    padding: 5px;
}

.task-list input[type="button"]{
    width: 100px;
    margin: 5px;

}

#completed > .todo-task  {
	background-color: YellowGreen;
}

#pending > .todo-task {
	background-color: Tomato; 
}

#inProgress > .todo-task {
	background-color: Gold;
}



.btn_pad {
	margin-top: 5px;
}

.todo-task > .task-header{
    font-weight: bold;
}

.todo-task > .task-date{
    font-size: small;
    font-style: italic;
}

.todo-task > .task-description{
    font-size: smaller;
}

h3{
    text-align: center;
}

#delete-div{
    display: none;
    background-color: #fff;
    border: 3px dotted #000;
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.container {
visbility: hidden;
}

.hidden {
  display: none;
  -webkit-transition: display .5s ease;
  -moz-transition: display .5s ease;
  -o-transition: display .5s ease;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}