/* nanoscrollbar */
.nano .pane   { background: #888; }
.nano .slider { background: #111; }


.container{
   
	width: 300px; 
    min-height: 100%;
    background-color: transparent;
    border: 0;
}

#header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
}

.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.task-list{
    min-width: 250px;
	float: left;
    background-color: #e3e3e3;
    height: 100%;
    border-radius: 10px;
    padding-bottom: 15px;
}

.task-status {
	min-height: 100px;
	float: left;
	padding-bottom: 15px;
}

.task-list input, .task-list textarea{
    width: 240px;
    margin: 1px 5px;
}

.task-list input{
    height: 30px;
}

.todo-task{
    border-radius: 5px;
    background-color: #fff;
    width: 220px;
    margin: 5px;
    padding: 5px;
}

.task-list input[type="button"]{
    width: 100px;
    margin: 5px;

}

#completed > .todo-task  {
	background-color: YellowGreen;
}

#pending > .todo-task {
	background-color: Tomato; 
}

#inProgress > .todo-task {
	background-color: Gold;
}



.btn_pad {
	margin-top: 5px;
}

.todo-task > .task-header{
    font-weight: bold;
}

.todo-task > .task-date{
    font-size: small;
    font-style: italic;
}

.todo-task > .task-description{
    font-size: smaller;
}

h3{
    text-align: center;
}

#delete-div{
    display: none;
    background-color: #fff;
    border: 3px dotted #000;
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}